body
{
    background-size: cover;
    background-position: center;
}
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status
{
    font-size: 18px;
    font-weight: bold;
}

canvas
{
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(204, 204, 204);
    margin-top: 20px;
    margin-left: 350px;
}

#back1
{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 1200px;
    color: white;
    background-color: black;
}